<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Authenticated Dashboard
        </h1>
    </div>
</div>
<p>This is the logged in dashboard</p>
<p>Welcome {{username}}</p>
<div class="row">
    	<div class="cover text-center">
		<h1 class="cover-heading">Shared expenses made simple</h1>
		<p class="lead">Manage expenses between your friends and know exactly who owes who.</p>
		<p class="lead">
	  		<a class="btn btn-lg btn-success" ng-click="createSheet()" ng-show="!creationInProgress" ng-hide="creationInProgress">Start Now!</a>
	  		<a class="btn btn-lg btn-success" ng-show="creationInProgress" ng-hide="!creationInProgress">Please wait</a>
		</p>
	</div>
</div>