<div class="container">
	<div class="row">
		<ul class="nav nav-tabs">
			<li role="presentation" ui-sref-active="active"><a ui-sref="sheets.overview({id: sheet._id})">Overview</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="sheets.friends({id: sheet._id})">Friends</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="sheets.expenses({id: sheet._id})">Expenses</a></li>
		</ul>
	</div>

	<div class="row">
		<div class="sheet" ui-view>
			
		</div>
	</div>
</div> 